# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Environment variables (IMPORTANT)
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Data files
data/
*.csv
*.csv.gz
*.pkl
*.json
*.yaml
*.yml

# Models
models/
*.pt
*.pth
*.h5
*.onnx

# Logs & reports
logs/
reports/
*.log

# Caches
.mypy_cache/
.pytest_cache/
.cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build / distribution
*.egg-info/
dist/
build/
